::selection {
  background: #F73E3E;
}

h1 {
  font-family: 'Patua One', normal;
  font-size: 2em;
}

p {
  font-family: 'Dosis', normal;
  font-size: 1em;
}

a {
  font-family: 'Dosis', normal;
  font-size: 1em;
  text-decoration: none;
}

a:link {
  background: #F73E3E;
  color: #292C37;
}

a:visited {
  color: #9F111B;
}
